
body{
    font: arial;
}
.container__login{
    display: flex;
}
.container__login--presentacion{
    height: 420px;
    width: 680px;
    text-align: center;
    padding: 100px 80px 100px 80px;
    background-image: url("../imagenes/Flores.png");
}
.container__login--datos{
    height: 720px;
    width: 720px;
}
.container__login--texto{
    text-align: center;
    font: Bold 20px/44px Noteworthy;
    letter-spacing: 0px;
    color: #145F2B;
    opacity: 1; 
}
.container__login--inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.input{
    outline: none;
    width: 400px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: solid 2px gray;
    margin: 20px 0px;
}
.button{
    width: 200px;
    border: none;
    padding: 10px;
    border-radius: 25px;
    background: linear-gradient(30deg,#91B508,#227B26);
    margin: 50px;
}
.button:hover{
    background: linear-gradient(30deg,#227B26,#91B508);
}
.login__fecha {
    margin-left: 100px;
}
.login__fecha input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: solid 2px gray;
    margin: 20px 0px;
    color: gray;
    width: auto;
}
.container__login--button{
    font-size: 20px;
    text-align: center;
}

